<h1>Angular App</h1>
<app-navbar></app-navbar>
<p>{{message}}</p>
<app-post [fromParent]='parentMessage' (messageEvent)='reciveMessage($event)'></app-post>
<p>{{fromChildOutPut}}</p>

<img src="{{imgUrl}}" alt="">
<img [src]="imgUrl" alt="">



<!-- event binding -->
<button (click) = 'buttonClick()' >Click Me</button>

<!-- event filtering -->
<input type="text" (keyup.enter)="onKeyup($event)">

<!-- temple varibale -->
<input type="text" (keyup.enter)="onKeyupTemplete(username.value)" #username>

<!-- two way data binding -->
<input type="text" [(ngModel)]="userName" (keyup.enter)="onkeyupTwoWayDataBinding()">


<!-- one way vs two way data binding  -->

<input type="text" [value]="textValue" (keyup.enter)="onewayDBinding()">

<input type="text" [(ngModel)]="textValue" (keyup.enter)="twowayDBinding()">


<!-- excrise  -->

<input type="text" [(ngModel)]="postTitle" (keyup.enter)="postTitleHandler()">

<textarea name="" [(ngModel)]="postDetail" (keyup.enter)="postDetailHandler()" id="" cols="30" rows="10"></textarea>


<p>{{postTitle}}</p>
<p>{{postDetail}}</p>

<ul>
  <li *ngFor="let post of postArray">{{post}}</li>
  
</ul>

<p>Array Object</p>

<button (click)="addNew()">Add New Data</button>

<ul >
  <li *ngFor="let obj of objectArray let i = index">
    {{obj.postTitle}}

    <button (click)="onDelete(i)">Delete</button>
  </li>
  
</ul>